# Développement local
VITE_API_URL=https://pass-io.onrender.com
VITE_PURCHASE_BASE_URL=https://passiio.shop
VITE_APP_ENV=production
VITE_EAS_CHANNEL=production
VITE_VERBOSE_LOGS=true
VITE_LOCAL=active


# Production
#VITE_API_URL=https://pass-io.onrender.com
#VITE_PURCHASE_BASE_URL=https://passiio.shop
#VITE_APP_ENV=production
#VITE_EAS_CHANNEL=production
#VITE_VERBOSE_LOGS=true
#VITE_LOCAL=active
