# Dépendances
node_modules/
.pnpm-store/

# Builds de production
dist/
build/

# Variables d'environnement secrètes (très important !)


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Fichiers système / IDE
.DS_Store
.vscode/
.idea/